@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}
h1 {
    @apply font-montserrat
}

p {
    @apply font-openSans
}


:root{
    --color-primary: #ffda07;
    --color-secondary: #DEDACA;
    --color-dark-grey: #333333;
    --color-light-grey: #f8f8f8;
}
