@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Mulish:wght@300&display=swap');

html, body {
    height: 100%;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

:root{
    --color-primary: #ffda07;
    --color-secondary: #DEDACA;
    --color-dark-grey: #333333;
    --color-light-grey: #f8f8f8;
}